.hero {
  width: 100%;
}

@media screen {
  /* * Hero Name */
  .hero__desktop-name {
    display: none;
  }

  .hero__mobile-name {
    padding: var(--space-12) 0;
  }

  .hero__title {
    font-size: var(--text-fluid-hero__mobile);
    line-height: 90%;
  }

  /* JARON */
  .hero__mobile-name > .hero__title:nth-child(2) {
    text-align: center;
  }

  /* SABOG */
  .hero__intersect {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  /* * Positions */
  .hero__list-item {
    font-size: var(--text-2xs);
    list-style-type: none;
  }

  /* * Hero Center  */
  .hero__center {
    padding: var(--space-8) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__skills {
    display: none;
  }

  .hero__image {
    width: 80%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
  }

  /* * Latest Project */
  .hero__latest-project {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__subtitle {
    font-family: var(--font-body);
    font-size: var(--text-xs);
    font-weight: 400;
    text-transform: uppercase;
  }

  .hero__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--text-2xl);
    color: var(--color-primary-black);
    font-family: var(--font-display);
    font-weight: 800;
  }

  /* ? Picture and Latest Project */
  .hero__media {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero__maxim {
    padding: var(--space-8) 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  /* * Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer__cta .footer__cta-title,
  .footer__cta-email {
    font-family: var(--font-body);
    font-size: var(--text-xs);
  }

  .footer__copyright {
    font-size: var(--text-xs);
  }

  .footer__cta-title {
    font-weight: 400;
  }

  .footer__maxim {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .hero__mobile-name {
    display: none;
  }

  .hero__desktop-name {
    width: 100%;
    text-align: center;
    font-size: var(--text-fluid-hero__desktop);
    white-space: nowrap;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  /* * Hero Center  */
  .hero__center {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: var(--space-4);
    justify-content: center;
  }

  .hero__content {
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }

  .hero__skills {
    display: inline;
  }

  .hero__media {
    flex-direction: row;
    gap: var(--space-4);
    align-items: end;
  }

  /* .hero__profile {
    display: flex;
    gap: var(--space-4);
    align-items: end;
  } */

  .hero__list--center > .hero__list-item {
    font-size: var(--text-lg);
  }

  /* * Latest Project */
  .hero__latest-project {
    width: fit-content;
    flex-direction: column;
    align-items: start;
  }

  .hero__subtitle {
    font-size: var(--text-base);
  }

  .hero__link {
    font-size: var(--text-4xl);
  }

  .hero__maxim {
    display: none;
  }

  /* * Footer */
  .footer {
    align-items: center;
  }

  .footer__maxim {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--text-sm);
  }
}
